# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environments
venv/
.venv/
env/

# Environment Variables
.env

# Uploads
uploads/

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# Logs
*.log

# Excel temp files
~$*.xlsx

# Python cache
.pytest_cache/

# Render
render.yaml.local